::ng-deep .my-custom-dialog-class {
    .mat-dialog-container {
        background: url('/assets/fondoreg.png');
   
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 40% 0%;
        background-color: rgb(252.7, 245.6, 142.5);
        
        
      
    }


    
    .errorp {
        color: red;
        font-weight: bold;
        text-align: center;
        margin-top: 15rem;
        font-size: 20px;
    }



    #buttondivcerrar {
        align-items: center;
        margin: 0 auto;
        justify-content: center;

        button { display: block; 
            margin: 0 auto;
            margin-top: 3rem; }
    }


}