

    

<header class="v-header container">
    <div class="fullscreen-video-wrap">

   <video #vid autoplay muted="muted" loop>
    <source src="/assets/video.mp4" type="video/mp4">
</video> 
         
    </div>
<div  class="header-overlay">
    <div class="header-content">
        
        
            <img src="/assets/torobueno.png">
          
        <h1  class="mat-display-3">Empezar a comprar</h1>
      
        <a [routerLink]="['menu']" class="btn">Entrar</a>
    </div>
</div>

</header>
